{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/quote" method="POST">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="numeric">
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Buy</button><br>
            <span>{{ session["user_id"] }}</span>
        </div>
    </form>
{% endblock %}